<div class="alternative">
    <div class="toolbar-content-container">
        <h1>Lets Cook</h1>
        <div class="search-input mat-elevation-z4">
            <lc-searchbox></lc-searchbox>
        </div>
        <div id="icon-container">
            <button mat-icon-button matTooltip="Enviar uma receita">
                <mat-icon class='icon' aria-label="Example home icon">create</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Entrar">
                <mat-icon class='icon' aria-label="Example home icon">account_circle</mat-icon>
            </button>
        </div>
    </div>
</div>