<div class="alternative">
    <mat-toolbar class='toolbar mat-elevation-z6' color='primary'>
        <span>Lets Cook</span>
        <div class="search-input">
            
        </div>
        <div id="icon-container">
            <button mat-icon-button matTooltip="Enviar uma receita">
                <mat-icon class='icon' aria-label="Example home icon">create</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Entrar">
                <mat-icon class='icon' aria-label="Example home icon">account_circle</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>